body {
    background-color: rgb(151,243,110);
    background: linear-gradient(75deg, rgba(151,243,110,1)0%,rgba(24,141,6,1)100%);
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 23px 50px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.form-label-custom {
    font-family: 'Constantia', sans-serif;
}