header {
    background-color:#b2beb500;
    z-index: 99;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(50px);
}

header .profile img {
    margin-left: 100px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

header .logo-img {
    height: 70px;
    width: 150px;
    
}


header .form-floating {
    margin-top: 8px;
    margin-left: 100px;
    width: 300px;
}

header .form-floating .form-control {
    height: 20px;
    border-radius: 20px;
}

header a {
    text-decoration: none;
}

footer {
    background-color: #fffffffe;
    z-index: 99;
    width: 100%;
    backdrop-filter: blur(500px);
}