header {
    background-color: #74a12e;
    z-index: 99;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(50px);
}

header .profile img {
    margin-left: 100px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

header .logo-img {
    height: 60px;
    width: 60px;
    /* background-image: url('/images/cpLogo.png');
    background-size: cover;
    background-position: center; */
}

header .logo-text {
    margin-left: 30px;
    font-family: 'Kavoon', cursive;
    font-size: 30px;
}

header .form-floating {
    margin-top: 8px;
    margin-left: 100px;
    width: 300px;
}

header .form-floating .form-control {
    height: 20px;
    border-radius: 20px;
}

header a {
    text-decoration: none;
}

footer {
    background-color: #fffffffe;
    z-index: 99;
    width: 100%;
    backdrop-filter: blur(500px);
}