body {
    background: url('/images/BG1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    background-color: rgba(254, 254, 254, 0);
    padding: 23px 50px;
    border-radius: 10px;
    border: none;
}


.form-label-custom {
    font-family: 'Constantia', sans-serif;
}